

<div id="new_project">
  <form class="form-horizontal" id="new_project" accept-charset="UTF-8" action="/create_project" method="post">

<input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="CsEAi+ZxZZeb8zTCy94TTozTxuuzbBKZakjEqFj5X8Via9G73Q9hOTy9DpPYDTOjiXHpc+tX901gPT/UjzOVRg==" />


  <fieldset>
    <legend>Create your Sweden renovation project!
</legend>
    <div class="form-group">
      <label for="zipcode" class="col-lg-2 control-label">Where's your renovation?</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="project[zipcode]" id="project_zipcode" placeholder="10123">
      </div>

    </div>


        <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Property Ownership</label>
      <div class="col-lg-10">
        <select class="form-control" name="project[property_ownership_status]" id="project_property_ownership_status">
          <option>Yes, I own</option>
          <option>In contract</option>
          <option>Made an offer</option>
          <option>Looking to buy</option>
          <option>Representing owner</option>
          <option>Other</option>
        </select>

      </div>
    </div>

        <div class="form-group">
      <label for="select" class="col-lg-2 control-label">What would you like to renovate?</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>Entire Unit</option>
          <option>2+ Spaces</option>
          <option>1 Space</option>
          <option>Custom Millwork</option>
          <option>Commercial</option>
        </select>

      </div>
    </div>



    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Tell us why you're renovating. What's the story?</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>


    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">What's your project scope?</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>

        <div class="form-group">
      <label for="zipcode" class="col-lg-2 control-label">What's the total square footage of your renovation?</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="0">
      </div>
      </div>

        <div class="form-group">
      <label for="select" class="col-lg-2 control-label">What style are you going for?</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>Modern</option>
          <option>Traditional</option>
          <option>Haven't decided yet</option>
          <option>Other</option>
        </select>

      </div>
    </div>








    <div class="form-group">
      <label class="col-lg-2 control-label">What services are you hiring for?</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Build
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Design
          </label>
        </div>
   <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Design & Build
          </label>
        </div>
      </div>
    </div>


        <div class="form-group">
      <label for="zipcode" class="col-lg-2 control-label">What's your overall budget range?</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="min">
                <input type="text" class="form-control" id="inputEmail" placeholder="max">
      </div>

    </div>



            <div class="form-group">
      <label for="select" class="col-lg-2 control-label">What helped you set your budget?</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>Got other estimates</option>
          <option>Talked to friends</option>
          <option>Did research</option>
          <option>It's my savings</option>
          <option>Just guessing</option>
          <option>Other</option>
        </select>
      </div>
    </div>

        <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">What are your building requirements?</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
      </div>
    </div>


                <div class="form-group">
      <label for="select" class="col-lg-2 control-label">What are the current conditions of the spaces you're renovating?</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>Functional but...</option>
          <option>A little worn</option>
          <option>Falling apart</option>
          <option>Demo'd</option>
          <option>Not my style</option>
          <option>Outdated</option>
          <option>New construction</option>
          <option>Recently renovated</option>
        </select>
      </div>
    </div>


























    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Selects</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <br>
        <select multiple="" class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>

