@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap.css";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require "bootstrap.min.css"
 *= require_tree .
 *= require_self
 */


#new_project {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
}


#header,
#footer {
  background-color: #e3e3d6;
}

#main-wrap {
  background-color: #ffffff;
}

#sidebar {
  background-color: #e3e3d6;
     min-height: 300px;
     margin: 10px, 10px;
       float: left;
  width: 25%;
}

#content-wrap {
  background-color: #c5c5c5;
}


#header,
#footer {
  min-height: 40px;
}

#main-wrap {
  overflow: hidden;
}


#content-wrap {
   min-height: 450px;
  float: right;
  width: 75%;
}  














